<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/chat']"><mat-icon>Chat</mat-icon></a>
</div>

<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/book-create']"><mat-icon>Register</mat-icon></a>
</div>

<!--<div class="button-row">-->
    <!--<a mat-raised-button color="primary" [routerLink]="['/book']"><mat-icon>List user</mat-icon></a>-->
<!--</div>-->

<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/login']"><mat-icon>Login</mat-icon></a>
</div>


<router-outlet></router-outlet>
